<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main App</title>
</head>
<body>
    <div class='body'>
        <div id='title'>
            <h1>Welcome to the main site</h1>
        </div>

        <div id='subheader'>
            <h3>Click where you want to go:</h3>
        </div>

        <div id='zodiac'>
            <form action="/zodiacapp" method="GET">
                <input type="submit" name="zodiacbutton" value="Zodiac App">
            </form>

        </div>

        <div id='carlist'>
            <form action="/carlist" method="GET">
                <input type="submit" name="carlist" value="Car List">
            </form>
        </div>

        <div id='sensor'>
            <form action="/sensor" method="GET">
                <input type="submit" name="sensor" value="Sensor">
            </form>
        </div>

    </div>
</body>
</html>