<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main App</title>
</head>
<body>
    <div class='body'>
        <div id='title'>
            <h1>Welcome to the main site</h1>
        </div>

        <div id='subheader'>
            <h3>Click where you want to go:</h3>
        </div>

        <div id=buttons>
            <a href="http://192.168.50.92:5001/"><button>Zodiac App</button></a>
            <a href="http://192.168.50.92:5002/carlist"><button>Car List</button></a>
        </div>

    </div>
</body>
</html>